<%= form_with(model: @profile, local: true, class: "form",) do |form| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, :class => "form-field" %>
  </div>
<br>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, :class => "form-field" %>
  </div>
<br>

  <div class="field">
    <%= form.label :bio %><br>
    <%= form.text_area :bio, :class => "form-field" %>
  </div>
<br>

<div class="field">
    <%= form.label :image %>
    <%#= form.hidden_field :image, value: f.object.cached_image_data %>
    <%= form.file_field :image %>
</div>
<br>
<div class="field">
    <%= form.label :address_line_one %>
    <%= form.text_field :address_line_one, :class => "form-field" %>
</div>
<br>
<div class="field">
    <%= form.label :address_line_two %>
    <%= form.text_field :address_line_two, :class => "form-field" %>
</div>
<br>
<div class="field">
    <%= form.label :city %><br>
    <%= form.text_field :city, :class => "form-field" %>
</div>
<br>
<div class="field">
    <%= form.label :state %><br>
    <%= form.text_field :state, :class => "form-field" %>
</div>

<br>
<div class="field">
    <%= form.label :postcode %><br>
    <%= form.text_field :postcode, :class => "form-field" %>
</div>
<br>
<div class="field">
    <%= form.label :country %><br>
    <%= form.country_select :country_code, priority_countries: ["AU"], :class => "form-field" %>
</div>

<br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>