<p id="notice"><%= notice %></p>

<h1>Profiles</h1>

<% @profiles.each do |profile| %>
<br>
    <%= profile.first_name %>
    <%= profile.last_name %><br>
    <%= image_tag profile.image_data, width: 200 %><br>
    <%= link_to 'Show', profile_path(profile) %><br>
    <%= link_to 'Edit', edit_profile_path(profile) %><br>
    <%= link_to 'Destroy', profile_path(profile), method: :delete, data: { confirm: 'Are you sure?' } %><br>
<% end %><br>

