<p id="notice"><%= notice %></p>

<p>
  <strong>Profile Image:</strong><br>
    <%= image_tag @profile.image_url(:medium) unless @profile.image.blank? %>


<p>
  <strong>Name:</strong>
  <%= @profile.full_name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Location:</strong>
  <%= @profile.partial_address %>
</p>

<%= google_map_image_tag(@profile) %>

<% if policy(@profile).edit? %>
      <%= link_to 'Edit', edit_profile_path(@profile) %><br>
<% end %>

<%# @user.pickup_request.select('pickup_request.*, user_to_pickup.accepted').each do |i| %>
  <p><%#= i.accepted %></p>
<%# end %>

  <%#= @profile.accepted_requests %>
  <%# @profile.user.pickup_requests.user_to_pickups.each do |test|%>
  <%#= test.accepted %>
<%# end %>