<p id="notice"><%= notice %></p>
<h2><%= @profile.full_name %>'s Profile</h2>
<% if policy(@profile).edit? %>
<div type="button" class="btn">
      <%= link_to 'Edit Profile', edit_profile_path(@profile) %><br>
</div>
<% end %>

<div class="profile-page">
  <div class="profile-info">
    <p>
        <%= image_tag @profile.image_url(:medium) unless @profile.image.blank? %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @profile.full_name %>
    </p>

    <p>
      <strong>Bio:</strong>
      <%= @profile.bio %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= @profile.partial_address %>
    </p>

    <%= google_map_image_tag(@profile) %><br>
  </div>

  <div class="request-info">
    <h3>My Pickup Requests </h3>
    <% if current_user == @profile.user %>
        <% @pickup_requests.each do |request|%>
        
        <p><br><strong><%= request.item_name %></strong></p>
        <p><strong>Pickup Location:</strong> <%= request.pickup_address.titleize %></p>

          <% if request.user_to_pickup.nil? %>
            <p><strong>Status:</strong> Not Accepted</p>
          <% else %> 
            <p><% request.user_to_pickup.accepted %><strong>Status:</strong> Accepted </p>
            <p><strong>Accepted by: </strong>
            <%= link_to request.user_to_pickup.user.profile.full_name, profile_path(request) %><br>
          <% end %><br>

        <%= link_to 'View Request', pickup_request_path(request) %><br>

        <% end %>
    <% end %>

  </div>
</div>