<p id="notice"><%= notice %></p>
<h2><%= @profile.full_name %>'s Profile</h2>
<div type="button" class="btn">
<% if policy(@profile).edit? %>
      <%= link_to 'Edit Profile', edit_profile_path(@profile) %><br>
<% end %>
</div>
<p>
  <strong>Profile Image:</strong><br>
    <%= image_tag @profile.image_url(:medium) unless @profile.image.blank? %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.full_name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Location:</strong>
  <%= @profile.partial_address %>
</p>

<%= google_map_image_tag(@profile) %><br>

  <%#= @profile.user.pickup_requests.select('pickup_request.*, user_to_pickup.accepted') %>

<% @profile.user.pickup_requests.each do |request|%><br>
  <strong><%= request.item_name %><br></strong>
  <%= request.description %><br>
  <%= request.pickup_address.titleize %><br>
  <%= request.user_to_pickup %><br>

<% end %>