<p id="notice"><%= notice %></p>

<p>
  <strong>Image data:</strong>
  <%= image_tag @profile.image_data, width: 200 %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.full_name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.full_address %>
</p>

<%= google_map_image_tag(@profile) %>


<%= link_to 'Edit', edit_profile_path(@profile) %><br>
