<p id="notice"><%= notice %></p>

<p>
  <strong>Profile Image:</strong><br>
    <%= image_tag @profile.image_url(:medium) unless @profile.image.blank? %>


<p>
  <strong>Name:</strong>
  <%= @profile.full_name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Location:</strong>
  <%= @profile.partial_address %>
</p>

<%= google_map_image_tag(@profile) %>


<%= link_to 'Edit', edit_profile_path(@profile) %><br>
