<p id="notice"><%= notice %></p>
<h2><%= @profile.full_name %>'s Profile</h2>
<% if policy(@profile).edit? %>
<div type="button" class="btn">
      <%= link_to 'Edit Profile', edit_profile_path(@profile) %><br>
</div>
<% end %>

<div class="profile-page">
  <div class="profile-info">
    <p>
        <%= image_tag @profile.image_url(:medium) unless @profile.image.blank? %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @profile.full_name %>
    </p>

    <p>
      <strong>Bio:</strong>
      <%= @profile.bio %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= @profile.partial_address %>
    </p>

    <%= google_map_image_tag(@profile) %><br>
  </div>

  <div class="request-info">
    <h3>My Pickup Requests </h3>
    <% if current_user == @profile.user %>
        <% @pickup_requests.each do |request|%>
        
        <p><br><strong><%= request.item_name %></strong></p>
        <p><strong>Pickup Location:</strong> <%= request.pickup_address.titleize %></p>

          <% if request.user_to_pickup.nil? %>
            <p><strong>Status:</strong> Not Accepted</p>
          <% else %> 
            <p><% request.user_to_pickup.accepted %><strong>Status:</strong> Accepted </p>
            <p><strong>Accepted by: </strong>
            <%= link_to request.user_to_pickup.user.profile.full_name, profile_path(request) %><br>
          <% end %>
        
        <%#= render 'pickup_requests/charge_form', pickup_request: request, user: current_user %><br>

        <%= form_tag charge_pickup_request_path(request) do %>
              <article>
                <% if flash[:error].present? %>
                  <div id="error_explanation">
                    <p><%= flash[:error] %></p>
                  </div>
                <% end %>
              </article>

              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="<%= request.description %>"
              data-amount="<%= request.payment_amount %>"
              data-currency="AUD"
              data-email=<%= request.user.email %>
              data-locale="auto"></script>
        <% end %>
        <br>
        <%= link_to 'View Request', pickup_request_path(request) %><br>

        <% end %>
    <% end %>

  </div>
</div>