<%= form_tag charge_pickup_request_path(@pickup_request) do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @pickup_request.description %>"
          data-amount="<%= @pickup_request.payment_amount %>"
          data-currency="AUD"
          data-email=<%= user.email %>
          data-locale="auto"></script>
<% end %>