<p id="notice"><%= notice %></p>

<h2>Pickup Requests</h2>

<div class="search-field">
        <%= form_with scope: :pickup_requests, class: "search-flex", method: :get, local: true do |f| %>
            <%= f.label :search_by_city %><br>
            <%= f.text_field :search, class: "search-form-field" %>
            <%= f.button :Search, class: "search" %>
        <% end %>
</div><br>

<div type="button" class="btn">
    <%= link_to 'Create New Pickup Request', new_pickup_request_path %>
</div><br><br>

<div class="pickup-requests">
    <% @pickup_requests.each do |pickup| %>
    <br>
        <div class="pickup-card">
            <%= image_tag pickup.image_url(:medium) unless pickup.image.blank? %><br>
            <p><strong>Item Name: </strong><%= pickup.item_name %></p>
            <p><strong>Description: </strong><%= pickup.description %></p>
            <p><strong>Pickup Address: </strong><%= pickup.partial_pickup_address %></p>
            <%= google_map_image(@pickup_request = pickup) %><br>
            <p><strong>Delivery Address: </strong><%= pickup.delivery_address %></p>
            <p><strong>Payment: </strong>$<%= pickup.payment_amount %></p>
            <%= link_to 'View Request', pickup_request_path(pickup) %><br>
        </div>

    <% end %>
    <br>
<div>