<p id="notice"><%= notice %></p>

<h1>Pickup Requests</h1>

<% @pickup_requests.each do |pickup| %>
<br>
    <%= image_tag pickup.image_url(:thumb) unless pickup.image.blank? %><br>
    <p><%= pickup.item_name %></p>
    <p><%= pickup.description %></p>
    <p><%= pickup.pickup_address.titleize %></p>
    <p><%= pickup.delivery_address %></p>
    <p>$<%= pickup.payment_amount %></p>


    <%= link_to 'Show', pickup_request_path(pickup) %><br>
    <%= link_to 'Edit', edit_pickup_request_path(pickup) %><br>
    <%= link_to 'Destroy', pickup_request_path(pickup), method: :delete, data: { confirm: 'Are you sure?' } %><br>
<% end %><br>
