<p id="notice"><%= notice %></p>

<h1>Pickup Requests</h1>

<% @pickup_requests.each do |pickup| %>
<br>
    <%= pickup.description %>
    <%= pickup.pickup_address %><br>
    <%= pickup.delivery_address %><br>
    <%= pickup.payment_amount %><br>


    <%= link_to 'Show', pickup_request_path(pickup) %><br>
    <%= link_to 'Edit', edit_pickup_request_path(pickup) %><br>
    <%= link_to 'Destroy', pickup_request_path(pickup), method: :delete, data: { confirm: 'Are you sure?' } %><br>
<% end %><br>
