<p id="notice"><%= notice %></p>

<h2><%= @pickup_request.item_name %> Pickup Request</h2>
<div class="show-request">
  <div class="show-image">
    <p>
      <%= image_tag @pickup_request.image_url(:medium) unless @pickup_request.image.blank? %><br>
    </p>
  </div>

  <div class="show-details">
    <p>
      <strong>Item Name:</strong>
      <%= @pickup_request.item_name %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @pickup_request.description %>
    </p>

    <p>
      <strong>Pickup Address:</strong>
      <%= @pickup_request.pickup_address.titleize %>
    </p>

    <p>
      <strong>Delivery Address:</strong>
      <%= @pickup_request.delivery_address %>
    </p>

      <p>
      <strong>Payment:</strong> $
      <%= @pickup_request.price_in_dollars %>
    </p>

    <p>
      <strong>Posted by:</strong>
      <%= link_to @pickup_request.user.profile.full_name, @pickup_request.user.profile %><br>
    </p>
  </div>
</div>

<%#= google_map_image_tag_partial(@pickup_request.delivery_address) %>
    <%#= render 'charge_form', pickup_request: @pickup_request, user: current_user %><br>

<% if !@pickup_request.user_to_pickup.present? %>
  <div class="btn">
    <%= link_to 'Accept Request', accept_pickup_request_path, method: :patch %>
  </div>

  <% elsif current_user != @pickup_request.user && @pickup_request.user_to_pickup.present? %>
  <div class="btn">Request Unavailable</div>

  <% else current_user == @pickup_request.user && @pickup_request.user_to_pickup.present? %>
  <div class="btn">
    <%= button_to 'Reset Request', unaccept_pickup_request_path, method: :delete %>
  </div>
  <% end %>

  <br>

  <div type="button" class="btn">
    <%= link_to 'Send Message', conversations_path({ :pickup_request_id => @pickup_request} ), method: :create %> 
  </div>
  <br>
  <div type="button" class="btn">
    <%= link_to 'View All Pick-Up Requests', pickup_requests_path %>
  </div>
  <br>
  
    <% if policy(@pickup_request).edit? %>
    <div type="button" class="btn">
      <%= link_to 'Edit Request', edit_pickup_request_path %><br>
    </div>
    <% end %>
    <br>
