<p id="notice"><%= notice %></p>

<h2><%= @pickup_request.item_name %> Pickup Request</h2>
<div class="show-request">
  <div class="show-image">
    <p>
      <%= image_tag @pickup_request.image_url(:medium) unless @pickup_request.image.blank? %><br>
    </p>
  </div>

  <div class="show-details">
    <p>
      <strong>Item Name:</strong>
      <%= @pickup_request.item_name %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @pickup_request.description %>
    </p>

    <p>
      <strong>Pickup Address:</strong>
      <%= @pickup_request.partial_pickup_address %><br>
      <%= google_map_image(@pickup_request) %><br>
    </p>

    <p>
      <strong>Delivery Address:</strong>
      <%= @pickup_request.delivery_address %>
    </p>

      <p>
      <strong>Payment:</strong> $
      <%= @pickup_request.payment_amount %>
    </p>

    <p>
      <strong>Posted by:</strong>
      <%= link_to @pickup_request.user.profile.full_name, @pickup_request.user.profile %><br>
    </p>
  </div>
</div>
<br>

<% if !@same_user && !@pickup_accepted %>
    <div class="btn">
      <%= link_to 'Accept Request', accept_pickup_request_path, method: :patch %>
    </div>

  <% elsif !@same_user && @pickup_accepted %>
    <div class="btn">Request Unavailable</div>

  <% elsif @same_user && !@pickup_accepted %>
    <div class="btn" id="destroy">
      <%= link_to 'Delete Request', pickup_request_path, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>

  <% else @same_user && @pickup_accepted %>
    <div class="btn">
      <%= link_to 'Reset Request', unaccept_pickup_request_path, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
<% end %>

<br>

<% if @same_user %>
  <div type="button" class="btn">
    <%= link_to 'View Conversations', conversations_path({ :pickup_request_id => @pickup_request}) %> 
  </div>

<% else %>
  <div type="button" class="btn">
    <%= link_to 'Send Message', conversations_path({ :pickup_request_id => @pickup_request} ), method: :create %> 
  </div>

<% end %>

<br>

  <div type="button" class="btn">
    <%= link_to 'View All Pick-Up Requests', pickup_requests_path %>
  </div>

<br>
  
<% if policy(@pickup_request).edit? %>
  <div type="button" class="btn">
    <%= link_to 'Edit Request', edit_pickup_request_path %><br>
  </div>
<% end %>

<br>
